/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.container {
  max-width: 1130px;
  padding: 0px 5px;
  margin: 0 auto;
}

.header {
  border-bottom: 3px solid white;
  padding-top: 16px;
  line-height: 1.13;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1370px;
  column-gap: 10px;
}

.logo {
  display: block;
  max-width: 187px;
  min-width: 81px;
}



.nav__list {
  display: flex;
  column-gap: 36px;
}

.nav__item {
  border-bottom: 2px solid transparent;
}

.nav__item.active {
  border-bottom: 2px solid #ffffff;
}

.nav__link {
  font-size: 16px;
  line-height: 1.13;
  color: rgba(255, 255, 255, 1);
}

.header__contact {
  column-gap: 52px;
  display: flex;
}

.location,
.tel {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
}

.main {}

.hero {
  height: 100vh;
  background: url(../img/bg/кузовной_ремонт.png) no-repeat center / cover;
  padding-top: 272px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.hero__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10px;
}

.hero__main {
  flex: 1;
  padding-left: 95px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.17;
}

.hero .title {
  margin-bottom: 17px;
}

.hero__sudtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 50px;
}

.hero__btns {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.btn {
  background: none;
  border-radius: 4px;
  text-align: center;
  min-width: 170px;
  display: inline-block;
  padding: 12px 16px;
}

.btn.btn_theme_white {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.hero__call-to-action span {
  color: #ed7173;
}

.advantages {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  column-gap: 24px;
}

.advantage {
  text-align: center;
  border-radius: 4px;
  padding: 16px 10px;
}

.hero__advantage {
  border: 2px solid #ffffff;
  flex: 0 1 276px;
}

.advantage__img {
  width: 30px;
  height: 30px;
  margin-bottom: 14px;
}

.detailed__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 0.9;
  text-align: center;
  padding: 62px 0 10px;
  color: rgba(231, 231, 231, 1);
}

.detailed__subtitle {
  color: rgba(37, 37, 37, 1);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.9;
  text-align: center;
  padding-bottom: 90px;
}

.detailed__desc {
  color: rgba(37, 37, 37, 1);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.9;
}

.desc__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.desc__item {
  width: 405px;
  padding: 0 72px 98px 0;
}

.benefits {
  height: 570px;
  background: url(../img/bg/car_bg.png) no-repeat center/ cover;
  display: flex;
  flex-direction: column;
}

.abvantages__title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 0.9;
  text-align: center;
  padding: 62px 0 10px;
}

.advantages__subtitle {
  color: #ffffff;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.9;
  text-align: center;
  padding-bottom: 60px;
}

.benefits__advantages {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  padding: 16px;
}

.benefit {
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  flex: 0 1 211px;
  column-gap: 16px;
  padding: 40px 5px;
}

.benefit__desc {
  padding: 30px 5px 18px;
  font-size: 16px;
}

@media (max-width: 960px) {
  .container {
    max-width: 898px;
  }

  .logo {
    max-width: 181px;
  }

  .header .location {
    display: none;
  }

  .hero {
    padding-top: 210px;
  }

  .hero__main {
    padding-left: 73px;
  }

  .title {
    font-size: 42px;
  }

  .hero__sudtitle {
    font-size: 22px;
    margin-bottom: 70px;
  }


  .detailed__title {
    font-size: 40px;
  }

  .detailed__subtitle {
    font-size: 16px;
  }

  .detailed__desc {
    font-size: 16px;
  }


  .desc__item {
    padding: 0 96px 123px 0;
  }

  .benefits {
    height: 394px;
  }

  .abvantages__title {
    font-size: 40px;
    padding-top: 45px;
  }

  .advantages__subtitle {
    font-size: 16px;
    padding-bottom: 45px;
  }

  .benefits__advantages {
    column-gap: 14px;
  }

  .benefit {
    width: 167px;
    height: 118px;
    padding-top: 19px;
  }

  .benefit__img{
    width: 25px;
    height: 25px;
  }

  .benefit__desc {
    padding: 13px 0;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header {}

  .container {
    max-width: 722px;
  }

  .logo {
    max-width: 142px;
  }

  .nav {
    display: none;
  }

  .header__contact {
    display: none;
  }

  .burger {
    width: 47px;
    height: 31px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .burger__el,
  .burger__el::before,
  .burger__el::after {
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
  }

  .burger__el::before,
  .burger__el::after {
    content: "";
    position: absolute;
  }

  .burger__el::before {
    top: 0;
    left: 0;
  }

  .burger__el::after {
    bottom: 0;
    right: 0;
    width: 83%;
  }

  .hero {
    padding-top: 170px;
    position: relative;
  }

  .hero::before {
    content: "";
    position: absolute;
    display: block;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 19.11%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .advantage {
    font-size: 14px;
  }

  .advantage__img {
    width: 24px;
    height: 24px;
    margin-bottom: 11px;
  }


  .detailed__title {
    font-size: 35px;
  }

  .detailed__subtitle {
    font-size: 14px;
  }

  .detailed__desc {
    font-size: 14px;
  }

  .desc__item {
    padding: 0 54px 78px 0;
  }

  .benefits {
    height: 355px;
  }

  .abvantages__title {
    font-size: 30px;
    padding-top: 40px;
  }

  .advantages__subtitle {
    font-size: 14px;
    padding-bottom: 30px;
  }

  .benefits__advantages {
    column-gap: 11px;
  }

  .benefit {
    width: 134px;
    height: 123px;
    padding-top: 16px;
  }

  .benefit__img{
    width: 20px;
    height:20px;
  }
  
  .benefit__desc {
    padding: 11px 0;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }

  .logo {
    max-width: 81px;
  }

  .burger {
    width: 29px;
    height: 19px;
  }

  .burger__el,
  .burger__el::before,
  .burger__el::after {
    height: 3px;
  }

  .burger__el::after {
    width: 78%;
  }

  .hero {
    padding-top: 120px;
  }

  .hero__main {
    padding-left: 83px;

  }

  .title {
    font-size: 25px;
  }

  .hero .title {
    margin-bottom: 5px;
  }

  .hero__sudtitle {
    font-size: 14px;
    margin-bottom: 33px;
  }

  .hero__btns {
    flex-wrap: wrap;
    row-gap: 14px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .advantages {
    flex-direction: column;
    padding: 0 20px;
    column-gap: 24px;
    row-gap: 10px;
  }

  .advantage {
    text-align: left;
    flex: 0 1 56px;
  }

  .advantage__img {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }

  .advantage__img path {
    fill: black;
  }

  .advantage__desc {
    color: black;
  }


  .detailed__title {
    font-size: 15px;
  }

  .detailed__subtitle {
    font-size: 12px;
  }

  .detailed__desc {
    font-size: 12px;
  }

  .desc__item {
    padding: 0 23px 56px 0;
  }

  .benefits {
    height: 355px;
  }

  .abvantages__title {
    font-size: 15px;
  }

  .advantages__subtitle {
    font-size: 12px;
  }

  .benefits__advantages {
    flex-direction: column;
    row-gap: 10px;
    column-gap: 11px;
  }
  

  .benefit__img{
    flex-shrink: 0;
    width: 22px;
    height:22px;
  }
}


@media (max-width: 480px) {
  .container {
    max-width: 95%;
  }

  .header__container {
    max-width: 95%;
  }

  .logo {
    max-width: 81px;
  }

  .burger {
    width: 29px;
    height: 19px;
  }

  .burger__el,
  .burger__el::before,
  .burger__el::after {
    height: 3px;
  }

  .burger__el::after {
    width: 78%;
  }

  .hero {
    padding-top: 120px;
  }

  .hero__main {
    padding-left: 0px;
  }

  .title {
    font-size: 25px;
  }

  .hero .title {
    margin-bottom: 5px;
  }

  .hero__sudtitle {
    font-size: 14px;
    margin-bottom: 33px;
  }

  .hero__btns {
    flex-wrap: wrap;
    row-gap: 14px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .advantages {
    flex-direction: column;
    padding: 0 20px;
    column-gap: 24px;
    row-gap: 10px;
  }

  .advantage {
    text-align: left;
    border-radius: 4px;
    background-color: #ffffff;
    flex: 0 1 56px;
  }

  .hero__advantage {
    display: flex;
    border: 2px solid #ffffff;
    align-items: center;
    column-gap: 28px;
    width: 100%;

  }

  .advantage__img {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }

  .advantage__img path {
    fill: black;
  }

  .advantage__desc {
    color: black;
  }
}